* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  background-color: lightgray;
}
.cards {
  margin: 0 auto;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 35px;
}
.card {
  width: 300px;
  height: 420px;
  border-radius: 20px;
  background-color: white;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card .image {
  padding: 20px 25px;
}
.card .image img {
  width: 300px;
  height: 200px;
  object-fit: contain;
}
.text {
  padding: 10px 20px;
  display: flex;
  height: 180px;
  flex-direction: column;
  justify-content: space-between;
}
.text p span {
  font-weight: bold;
  color: orangered;
}
.buttons {
  width: 550px;
  margin: 20px auto 40px;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: black;
  font-weight: bold;
  color: white;
}
.buttons button:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}